<%= render 'shared/cust_name_kit_header' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 text-center top-5">
    <div class="bold txt-lg bottom-10">Kit Location</div>
    <strong>
      <span class="right-10">Current Location:</span><%= session[:kit] %>
    </strong>
    <%= form_tag kit_location_path, class: "form-horizontal top-10", method: 'post' do %>
      <%= text_field_tag :kit, nil, placeholder: "Kit Location", class: "form-control" %>
      <%= hidden_field_tag :cust_id, value = params[:cust_id] %>
      <%= submit_tag "Submit", class: "btn btn-primary btn-lg top-20 right-20" %>
      <%= link_to "Cancel", customer_items_path(@customer.id),
                            class: "btn btn-danger btn-lg top-20" %>
    <% end %>
  </div>

  <% if @customer.items.any? %>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 top-40">
      <div class="list-group">
        <button type="button" class="list-group-item disabled">
          <strong class="txt-reg">Kit Locations already on Order</strong>
        </button>
        <% @customer.items.pluck(:kit).uniq.each do |kit| %>
          <%= link_to kit, kit_location_path(kit: kit, cust_id: @customer.id),
                method: "post", class: "list-group-item text-center bold" %>
        <% end %>
    </div>
  <% end %>
</div>
