<%= render 'shared/cust_name_kit_header', show_cancel: true %>

<div class="row">
  <div class="col-xs-12 text-center top-10 bottom-20">
    <strong class="txt-lg">Credit Card</strong>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 text-center bottom-20">
    <% if params[:show] %>
      <button id="new_card_btn" class="btn btn-danger btn-lg">
        Cancel New Card
      </button>
    <% else %>
      <button id="new_card_btn" class="btn btn-primary btn-lg">
        New Card
      </button>
    <% end %>
  </div>
</div>

<% if @ship_to_cards.nil? %>
  <div id="cards_on_file" class="row" style="display: <%= params[:show] ? "none" : "block" %>;">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center top-10">
      <strong class="txt-md">No cards on file for this ship-to</strong>
    </div>
  </div>
<% else %>
  <div id="cards_on_file" class="row" style="display: <%= params[:show] ? "none" : "block" %>;">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 bottom-20">
      <div class="list-group">
        <button type="button" class="list-group-item disabled">
          <strong class="txt-reg">
            Cards on file for Ship-To <%= leading_zero(@customer.ship_to_num.to_s) %>
          </strong>
        </button>
        <% @ship_to_cards.each do |cc| %>
          <%= link_to "<strong class='txt-reg'><span class='right-10'>Last four:</span>#{cc_format_last_four(cc[1])}"\
                      "<span class='pull-right'>#{cc_type_name(cc[4])}</span></strong>"\
                      "<br/><span class='right-32'>Expires:</span>#{cc_format_exp_date(cc[2])}"\
                      "<br/><span class='right-40'>Name:</span>#{cc[3].strip}".html_safe,
                card_on_file_customer_path(@customer.id, cc_sq_num: cc[0],
                  cc_last_four: cc_format_last_four(cc[1])),
                method: "post",
                class: "list-group-item #{'active' if @customer.cc_sq_num == cc[0]} text-left" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<%= render 'shared/errors', obj: @credit_card %>

<div id="new_card" class="row" style="display: <%= params[:show] ? "block" : "none" %>;">
  <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 top-10">
    <%= form_for [@customer, @credit_card], html: { class: "well" } do |cc| %>
      <div class="form-group">
        <%= cc.label :cc_num, "Card number" %>
        <%= cc.text_field :cc_num, id: "cc_num", pattern: "[0-9]*",
                            inputmode: "numeric", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= cc.label :cc_name, "Name on card" %>
        <%= cc.text_field :cc_name, id: "cc_name", class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <%= label_tag "Expiration Date" %>
        </div>
        <div class="col-xs-4 form-group">
          <%= cc.select(:cc_exp_mth, options_for_select(cc_months, @month), {},
                            id: "cc_exp_mth", class: "form-control") %>
        </div>
        <div class="col-xs-4 form-group">
          <%= cc.select(:cc_exp_year, options_for_select(cc_years, @year), {},
                          id: "cc_exp_year", class: "form-control") %>
        </div>
      </div>

      <div class="form-group">
        <%= cc.label :cc_line1, "Address" %>
        <%= cc.text_field :cc_line1, id: "cc_line1", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= cc.label :cc_city, "City" %>
        <%= cc.text_field :cc_city,  id: "cc_city", class: "form-control" %>
      </div>

      <div class="row">
        <div class="col-xs-4 col-sm-6 col-md-6 form-group">
          <%= cc.label :cc_state, "State" %>
          <%= cc.select(:cc_state, options_for_select(us_states, @state), {},
                            id: "cc_state", class: "form-control") %>
        </div>
        <div class="col-xs-8 col-sm-6 col-md-6 form-group">
          <%= cc.label :cc_zip, "Zip" %>
          <%= cc.text_field :cc_zip, id: "cc_zip", pattern: "[0-9]*",
                              inputmode: "numeric", class: "form-control" %>
        </div>
      </div>

      <div class="text-center top-10">
        <%= cc.submit "Submit", class: "btn btn-primary btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
