<% show_kit ||= false %>
<% show_items_link ||= false %>
<% show_cancel ||= false %>

<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 text-center">
  <div class=" bold bottom-10">
    <%= @customer.cust_name %> (<%= @customer.cust_num %>)
    <br/>
    <span class="txt-xs">
      <%= "#{@customer.cust_line1} #{@customer.cust_city.strip},
           #{@customer.cust_state} #{@customer.cust_zip}" %>
    </span>
  </div>

  <% if show_kit %>
    <% if session[:kit] %>
      <%= link_to kit_location_path(cust_id: @customer.id),
            class: "btn btn-warning btn-sm" do %>
        <span class="right-5">Kit Location:</span>
        <strong><%= session[:kit] %></strong>
      <% end %>
    <% else %>
      <%= link_to "SET KIT LOCATION", kit_location_path(cust_id: @customer.id),
                                                        class: "btn btn-default txt-reg bold" %>
    <% end %>
  <% end %>

  <% if show_items_link %>
    <%= link_to "Return to Items", customer_items_path(@customer.id),
                                    class: "btn btn-warning btn-sm" %>
  <% end %>

  <% if show_cancel %>
    <%= link_to "Return to Checkout", checkout_customer_path(@customer.id),
                                    class: "btn btn-warning btn-sm" %>
  <% end %>

  <hr class="bottom-10"/>
</div>
