<%= render 'items/cust_name_kit_header', show_items_link: true %>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center top-10">
    <%= link_to "P.O. Number", po_number_customer_path(@customer.id),
                             class: "btn btn-primary btn-lg right-20" %>
    <%= link_to "Credit Card", new_customer_credit_card_path(@customer.id),
                                class: "btn btn-warning btn-lg" %>
    <div class="well well-sm text-left txt-reg top-20">
      <table width="100%" class="top-10 bottom-10">
        <tr>
          <td width="40%" class="text-right"><strong>P.O. Number:</strong></td>
          <td width="60%"><span class="left-10"><%= @customer.po_num %></span></td>
        </tr>
        <tr>
          <td class="text-right"><strong>Payment Type:</strong></td>
          <td>
            <span class="left-10">
              <%= payment_type == "PO" ? "Purchase Order" : "Credit Card" %>
            </span>
          </td>
        </tr>
      </table>
    </div>
    <%= link_to "Email Order", email_address_customer_path(@customer.id),
          class: "btn btn-info btn-lg right-20" %>
    <%= link_to "Print Order",
          customer_copy_customer_path(@customer.id, format: :pdf),
          target: "_blank", class: "btn btn-info btn-lg" %>
    <hr/>
    <%= link_to "Complete Order", submit_order_customer_path(@customer.id),
          method: 'post', data: { confirm: "Are you sure you want "\
                                           "to complete this order?" },
          class: "btn btn-success btn-lg bottom-40" %>
  </div>
</div>
