<%= render 'shared/cust_name_kit_header', show_items_link: true %>

<div class="row">
  <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 text-center top-10">
    <%= link_to "P.O. Number", po_number_customer_path(@customer.id),
                             class: "btn btn-primary btn-lg right-40" %>
    <% if @customer.credit_card %>
      <%= link_to "Edit Card",
            edit_customer_credit_card_path(@customer.id, @customer.credit_card.id),
            class: "btn btn-primary btn-lg" %>
    <% else %>
      <%= link_to "Credit Card", new_customer_credit_card_path(@customer.id),
            class: "btn btn-primary btn-lg" %>
    <% end %>

    <div class="row top-20">
      <div class="col-xs-6 col-sm-6 col-md-6 pad-right-5">
        <div class="well well-sm height-90 text-center text-wrap">
          <strong class="txt-reg">P.O. Number</strong>
          <br/>
          <%= @customer.po_num %>
          <br/>
          <% unless @customer.po_num == 'FIRST AID' %>
            <%= link_to "Clear",
                  po_number_customer_path(@customer.id, po_num: nil),
                  method: 'post', class: "btn btn-danger btn-xs top-5" %>
          <% end %>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-6 pad-left-5">
        <div class="well well-sm height-90 text-center text-wrap">
          <strong class="txt-reg">Payment Type</strong>
          <br/>
          <% if payment_type == 'PO' %>
            Purchase Order
          <% else %>
            <% if @customer.cc_sq_num %>
              Card on File
              <br/>
              <%= link_to "Remove Card", card_on_file_customer_path(@customer.id),
                    method: 'delete', class: "btn btn-danger btn-xs top-5" %>
            <% else %>
              New Card
              <br/>
              <%= link_to "Remove Card",
                    customer_credit_card_path(@customer.id, @customer.credit_card.id),
                    method: 'delete', class: "btn btn-danger btn-xs top-5" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

    <% has_items = @customer.items.any? %>
    <%= link_to "Email Order", email_address_customer_path(@customer.id),
          class: "btn btn-primary btn-lg #{"disabled light-gray" unless has_items } right-40" %>
    <%= link_to "Print Order",
          customer_copy_customer_path(@customer.id, format: :pdf),
          class: "btn btn-primary btn-lg #{"disabled light-gray" unless has_items }" %>
    <hr/>
    <% if @customer.edit %>
      <%= link_to "Update Order", update_order_customer_path(@customer.id),
        method: 'post', data: { confirm: "Are you sure you want "\
                                         "to update this order?" },
        class: "btn btn-success btn-lg #{"disabled light-gray" unless has_items} bottom-40" %>
    <% else %>
      <%= link_to "Complete Order", submit_order_customer_path(@customer.id),
        method: 'post', data: { confirm: "Are you sure you want "\
                                         "to complete this order?" },
        class: "btn btn-success btn-lg #{"disabled light-gray" unless has_items} bottom-40" %>
    <% end %>
  </div>
</div>
