<div class="col-xs-6 left-neg-15 top-10">
  <%= wicked_pdf_image_tag("dival_logo_bw.png") %>
</div>
<div class="col-xs-6 text-center">
  <strong class="txt-lg">Pick Ticket</strong>
  <br/>
  <strong><%= @customer.cust_name %> (<%= @customer.cust_num %>)</strong>
  <br/>
  <span class="txt-sm">
    <%= @customer.user.first_name %> <%= @customer.user.last_name %>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= @customer.order_date.strftime("%m/%d/%y  %l:%M%p") %>
  </span>
</div>
