<%= render 'shared/cust_name_kit_header' %>

<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-4 col-md-offset-4 text-center top-10">
  <div class="bold txt-lg bottom-20">P.O. Number</div>
  <%= form_tag po_number_customer_path(@customer.id),
            class: "form-horizontal top-10", method: 'post' do %>
    <%= text_field_tag :po_num, nil, maxlength: 18, class: "form-control" %>
    <%= submit_tag "Submit", class: "btn btn-primary btn-lg right-20 top-20" %>
    <%= link_to "Cancel", checkout_customer_path(@customer.id),
                          class: "btn btn-danger btn-lg top-20" %>
  <% end %>
</div>
