<div class="row">
  <div class="col-xs-4 text-left">
    <span class="txt-reg bold"><%= @customer.cust_name.strip %></span>
    <br/>
    <span class="txt-sm"><%= @customer.cust_num %></span>
  </div>
  <div class="col-xs-4 text-center">
    <span class="txt-md bold">First Aid Service</span>
    <br/>
    <span class="txt-xs"> ( Billed on Account )</span>
  </div>
  <div class="col-xs-4 text-right txt-sm">
    <%= Time.now.strftime("%b %d, %Y %l:%M %p") %>
    <br/>
    <%= "#{ @customer.user.first_name } #{ @customer.user.last_name }" %>
  </div>
  <% @items.each do |kit, itm_array| %>
    <div class="col-xs-12 top-20">
      <div class="text-left txt-sm bold bottom-5">
        <span class="right-10">Kit Location:</span><%= kit %>
      </div>
      <table width="100%" class="text-left">
        <tr class="txt-xs">
          <th width="15%" class="pick-th">Item #</th>
          <th width="74%" class="pick-th">Description</th>
          <th width="11%" class="text-center pick-th">Qty</th>
        </tr>
        <% itm_array.each do |item| %>
          <tr class="txt-xs">
            <td class="pick-tr"><%= item.item_num %></td>
            <td class="pick-tr"><%= item.item_desc %></td>
            <td class="text-center pick-tr"><%= item.item_qty %></td>
          </tr>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
