<head>
  <title>Pick Ticket - <%= @customer.cust_name %> - DiVal Safety</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body class="bottom-40">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4 col-md-offset-2 top-20">
        <%= image_tag("dival_logo_bw.png") %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 text-center top-20">
        <strong class="txt-lg">Pick Ticket</strong>
        <br/>
        <strong><%= @customer.cust_name %> (<%= @customer.cust_num %>)</strong>
        <br/>
        <span class="txt-sm">
          <%= @customer.user.first_name %> <%= @customer.user.last_name %>
          &nbsp;&nbsp;|&nbsp;&nbsp;
          <%= @customer.order_date
                       .in_time_zone("Eastern Time (US & Canada)")
                       .strftime("%m/%d/%y %l:%M%p") %>
        </span>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
        <% @items.each do |kit, itm_array| %>
          <div class="text-left txt-sm bold top-20 bottom-5">
            <span class="right-10">Kit Location:</span><%= kit %>
          </div>
          <table width="100%" class="text-left">
            <tr class="txt-sm">
              <th width="20%" class="pick-th">Item #</th>
              <th width="69%" class="pick-th">Description</th>
              <th width="11%" class="text-center pick-th">Qty</th>
            </tr>
            <% itm_array.each do |item| %>
              <tr class="txt-sm">
                <td class="pick-tr"><%= item.item_num %></td>
                <td class="pick-tr"><%= item.item_desc %></td>
                <td class="text-center pick-tr"><%= item.item_qty %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
