<% hide_locations ||= false %>

<div class="col-xs-12 col-sm-12 col-md-12 text-center">
  <strong><%= @customer.cust_name %> (<%= @customer.cust_num %>)</strong>
  <% unless hide_locations %>
    <br/>
    <table align="center">
      <tr>
        <td class="text-right">
          <span class="right-10">Building:</span>
        </td>
        <td class="text-left">
          <% if session[:building] %>
            <%= link_to session[:building],
                    new_building_kit_location_path(cust_id: @customer.id) %>
          <% else %>
            <%= link_to "Set Building",
                    new_building_kit_location_path(cust_id: @customer.id),
                    class: "bold" %>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="text-right right-5">
          <span class="right-10">Kit Location:</span>
        </td>
        <td class="text-left">
          <% if session[:kit] %>
            <%= link_to session[:kit],
                    new_building_kit_location_path(cust_id: @customer.id) %>
          <% else %>
            <%= link_to "Set Kit Location",
                    new_building_kit_location_path(cust_id: @customer.id),
                    class: "bold" %>
          <% end %>
        </td>
      </tr>
    </table>
  <% end %>
  <hr/>
</div>
