<%= render 'shared/cust_name_kit_header' %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 well well-sm">
    <strong class="txt-lg"><%= @item.item_num %></strong>
    <hr class="top-10 bottom-10"/>
    <%= @item.item_desc %>
    <br/><br/>
    <strong class="right-10">Kit Location:</strong><%= @item.kit %>
    <br/><br/>
    <strong class="right-54">Price:</strong>
      <span class="right-10"><%= '%.2f' % @item.item_price %></span>
      (<%= @item.item_price_type == "HIST" ? "History" : "List Price" %>)
    <br/>
    <strong class="right-32">Available:</strong><strong><%= @avail_qty %></strong>
    <hr/>
    <%= form_for [@customer, @item] do |f| %>
      <%= hidden_field_tag :avail_qty, @avail_qty %>
      <div class="form-group">
        <div class="col-xs-4 col-sm-3 col-md-4">
          <%= f.text_field :item_qty, pattern: "[0-9]*", inputmode: "numeric",
                                id: "js-qty", class: "form-control input-lg" %>
        </div>
      </div>
      <div>
        <a id="plus" href="#" class="btn btn-primary btn-lg left-10 right-20">&nbsp;+&nbsp;</a>
        <a id="minus" href="#" class="btn btn-primary btn-lg right-40">&nbsp;-&nbsp;</a>
      </div>
      <div class="top-40">
        <%= f.submit "Update", class: "btn btn-primary btn-lg left-20 right-20" %>
        <%= link_to "Cancel", customer_items_path, class: "btn btn-danger btn-lg" %>
      </div>
    <% end %>
  </div>
</div>
